.page-dataset-container {
    // 80px - 16px (app-container-padding)
    // padding-top: 64px;
    // padding-bottom: 80px;

    // padding: 80px 16px 96px 16px;

    width: 100%;
    height: 100%;
    // height: calc(100%);

    display: flex;
    flex-direction: column;

    // padding: 16px;

    gap: 16px;

    .main-controls {
        flex-shrink: 0;

        // background-color: #121212;

        padding: 16px;

        // width: auto;
        height: 92px;

        display: flex;
        flex-direction: row;

        // position: fixed !important;

        // top: 0;
        // left: 140px;
        // right: 0;

        // padding: 16px;

        &__dataset-dropdown-button {
            // width: max-content;
        }

        &__dataset-filename-field {
            // min-width: 100% !important;
            // width: 100%;

            // margin: 0;
        }

        #normalize_button {
            margin-left: 10px;
            width: 250px;
        }

        #add_entry_button {
            width: 250px;
        }
    }

    .table-container {
        // max-height: calc(100vh - 64px - 96px - 16px);

        padding: 0 16px;

        overflow-y: auto;
        overflow-x: auto;

        // margin: 0;

        // /* Стилизация скроллбара */
        // &::-webkit-scrollbar {
        //     width: 8px;
        // }

        // &::-webkit-scrollbar-track {
        //     background: #f8f9fa;
        //     border-radius: 4px;
        // }

        // &::-webkit-scrollbar-thumb {
        //     background: #adb5bd;
        //     border-radius: 4px;
        // }

        // &::-webkit-scrollbar-thumb:hover {
        //     background: #6c757d;
        // }

        /* Для Firefox */
        scrollbar-width: auto;
        scrollbar-color: #adb5bd #f8f9fa;

        // border-bottom: 1px solid #e0e0e0;

        &__dataset-table {
            // 80px + 16px (app-container-padding)
            // margin: 0 0 96px 0 !important;
            margin: 0 !important;

            // для горизонтального скролла при необходимости
            min-width: 600px;

            // текст по центру ячейки
            text-align: center;

            // overflow: auto;

            // thead {
            //     position: sticky;
            //     top: 0;
            //     // background: white;
            //     z-index: 1;
            // }

            // Стиль для строки при наведении
            tbody {

                // стили для обычных строк
                tr {
                    td {
                        vertical-align: middle;

                        input {
                            text-align: center;

                            background: transparent;
                            border: transparent;

                            border: solid 2px transparent;

                            &:focus {
                                // background-color: rgba(255, 87, 34, 0.02);

                                border: solid 2px rgb(255, 87, 34);
                                box-shadow: 0 0 0 4px rgba(255, 87, 34, 0.25); // Тень при фокусе
                            }
                        }

                        .danger-action-button {
                            display: inline-flex !important;

                            justify-content: center;
                            align-items: center;

                            width: 100%;
                        }
                    }

                    // &:hover {
                    //     // background-color: var(--bs-primary-bg-subtle); // Цвет фона при наведении
                    //     background-color: transparent; // Цвет фона при наведении

                    //     // outline: 2px solid #121212; // Чёрная обводка при наведении
                    //     // outline-offset: -2px; // Чтобы обводка была внутри элемента/ Чёрная обводка при наведении

                    //     cursor: pointer; // Изменение курсора на указатель
                    // }

                    // // Стиль для ячеек при наведении (опционально)
                    // &:hover td {
                    //     background-color: transparent; // Убедимся, что ячейки не переопределяют цвет строки
                    // }
                }

                // tr:nth-child(odd) {
                //     background-color: transparent !important;
                // }

                // tr:nth-child(even) {
                //     background-color: red !important;
                // }

                // стиль для строки добавления
                tr.adding-entry-row {
                    // background-color: #ffccbc !important;

                    &:hover {
                        // background-color: #FFCCBC !important; // Цвет фона при наведении

                        outline: 0px solid transparent;     // обводка при наведении
                        outline-offset: 0px;                // Чтобы обводка была внутри элемента, обводка при наведении

                        cursor: pointer; // Изменение курсора на указатель
                    }

                    td {
                        background-color: inherit !important;
                        
                        vertical-align: middle;
                        padding: 16px !important;

                        input {
                            background: white !important;

                            font-weight: 700;
                            color: black;

                            text-align: center;

                            border: solid 2px #FF5722;

                            &:focus {
                                border: solid 2px rgb(255, 87, 34);
                                box-shadow: 0 0 0 4px rgba(255, 87, 34, 0.25); // Тень при фокусе
                            }
                        }
                    }

                    .actions-buttons-container {
                        background-color: white !important;

                        display: flex;
                        flex-direction: row;

                        &:hover {
                            background-color: white !important; // Цвет фона при наведении
                        }

                        #add_entry_save_button {
                            display: inline-flex !important;
                            
                            justify-content: center;
                            align-items: center;

                            width: 100%;
                            height: auto;
                        }

                        #add_entry_cancel_button {
                            display: inline-flex !important;

                            justify-content: center;
                            align-items: center;

                            min-width: max-content;
                            height: auto;
                        }
                    }
                }

                // tr.adding-entry-row {
                //     &, &:nth-child(odd), &:nth-child(even) {
                //         background-color: #FFFFFF !important;
                //     }
                // }
            }
        }
    }

    .info-message-block {
        display: block;

        width: 100%;
        height: 100%;

        text-align: center;
        align-content: center;
    }

    .pagination-controls {
        border-top: 1px solid #e0e0e0;

        // background-color: #fafafa;
        background-color: #fff;

        // position: fixed;

        margin-top: auto;

        // bottom: 0;
        // right: 0;
        // // left: 140px;
        // left: 0;

        // padding-left: 156px;
        // padding: 0 16px;
        // margin: 0;

        // height: 80px;

        // padding: 16px;
        padding: 16px;

        display: inline-flex;
        flex-direction: row;

        justify-content: space-between;
        align-items: center;

        flex-shrink: 0;

        // &__current-page-range {
        //     position: absolute;
            
        //     left: 50%;
        //     transform: translateX(-50%);
        // }

        &__current-page-size-selector-block {
            display: inline-flex;
            flex-direction: row;

            align-items: center;

            .mine-bootstrap-label {
                min-width: max-content;
                margin: 0 10px 0 0;
            }
        }

        &__page-selector-block {
            margin: 0;
        }
    }
}
