.tf-node-dense {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border: none;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

    &__header {
        background-color: #ffa000;
        border-radius: 16px 16px 0 0;
        padding: 9px;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        color: #fff;
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding: 14px 10px 10px 10px;
        gap: 6px;

        .property {
            display: flex;
            flex-direction: row;
            gap: 7px;

            &__key {
                display: flex;
                align-items: center;
                font-weight: 500;

                white-space: nowrap;
            }

            &__value {
                width: 100%;
                text-align: right;
                border: 1px solid #ccc;
                border-radius: 4px;
                padding: 4px 8px;
                background-color: white;
                color: #333;
                font-size: 14px;
                font-family: inherit;
            }

            input[type='number'] {
                text-align: right;
                direction: rtl;
            }

            &__select-wrapper {
                position: relative;
                width: 100%;
            }

            &__select {
                @extend .property__value;
                appearance: none;
                padding-right: 20px;
                background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23333"><path d="M7 10l5 5 5-5z"/></svg>')
                    no-repeat right 1px center/18px;

                color-scheme: light;
                // forced-color-adjust: none;    /* Отключаем автоматическую корректировку цветов */

                cursor: pointer;

                // TODO: сделать такое у всех полей (наверно)
                &:focus {
                    outline: none;
                    border-color: #ffa000;
                    box-shadow: 0 0 5px rgba(255, 160, 0, 0.5);
                }
            }
        }
    }

    &__connector {
        position: absolute;
        width: 12px !important;
        height: auto !important;
        aspect-ratio: 1 / 1 !important;
        background: #ffa000 !important;
        border: 2px solid white !important;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
        transform-origin: center center !important;
        top: 50%;

        &:hover {
            transform: scale(1.3) translateY(-50%);
        }

        &::before {
            content: '';
            position: absolute;
            width: 24px;
            height: auto;
            aspect-ratio: 1 / 1;
            background: transparent;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        &--source {
            right: -50%;
            &:hover {
                transform: scale(1.3) translateX(50%) translateY(-50%);
            }
        }

        &--target {
            right: 50%;
            &:hover {
                transform: scale(1.3) translateX(-50%) translateY(-50%);
            }
        }
    }
}
