.menu {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    padding: 10px;
    gap: 10px;

    // background-color: #121212;
    background-color: #fff;

    border-right: 1px #121212 solid;

    // color: #ffffff;
    color: #000;

    &__button {
        display: flex;
        flex-direction: row;

        border-radius: 10px;

        padding: 18px 24px;

        justify-content: start;

        color: #000000de;
        background-color: #6161610d;

        // outline: 2px dashed #d32f2f;

        border-width: 2px;
        // outline-style: dashed;
        border-style: solid;

        &:hover {
            color: #000000f2;
            background-color: #6161611c;
        }

        &__icon {
            // none

            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 24px;
        }

        // &__icon-tabler {
        //     width: 24px;
        //     height: auto;

        //     // aspect-ratio: 1 / 1;

        //     // stroke: 10px;
        //     // stroke-width: 10px;
        // }

        &__text {
            display: flex;
            align-items: center;

            margin-top: 1px;
            margin-left: 10px;

            font-family: 'Montserrat', sans-serif;
            font-optical-sizing: auto;
            font-weight: 500;
            font-style: normal;

            font-size: 18px;

            line-height: 1;

            letter-spacing: 0.05em;
        }

        &--active {
            color: #000000ff;
            background-color: #61616129;

            outline-style: solid;
            outline-width: 2px;

            & .menu__button__text {    
                font-size: 20px;
            }

            & .menu__button__icon {    
                font-size: 28px;
            }
        }

        &--collapsed {
            justify-content: center;
        }

        &--dataset {
            // color: #EF9A9A;

            color: #C2185Bde;
            background-color: #C2185B0d;

            &:hover {
                // background-color: #EF9A9A14;

                color: #C2185Bf2;
                background-color: #C2185B1c;
            }

            &.menu__button--active {
                // background-color: #03020229;

                color: #C2185Bff;
                background-color: #C2185B29;
            }
        }

        &--design {
            // color: #FFF59D;

            color: #E64A19de;
            background-color: #E64A190d;

            &:hover {
                // background-color: #FFF59D14;

                color: #E64A19f2;
                background-color: #E64A191c;
            }

            &.menu__button--active {
                // background-color: #FFF59D29;

                color: #E64A19ff;
                background-color: #E64A1929;
            }
        }

        &--training {
            // color: #FFF59D;

            color: #689F38de;
            background-color: #689F380d;

            &:hover {
                // background-color: #FFF59D14;

                color: #689F38f2;
                background-color: #689F381c;
            }

            &.menu__button--active {
                // background-color: #FFF59D29;

                color: #689F38ff;
                background-color: #689F3829;
            }
        }

        &--inference {
            // color: #A5D6A7;

            color: #00796Bde;
            background-color: #00796B0d;

            &:hover {
                // background-color: #A5D6A714;

                color: #00796Bf2;
                background-color: #00796B1c;
            }

            &.menu__button--active {
                // background-color: #A5D6A729;

                color: #00796Bff;
                background-color: #00796B29;
            }
        }

        &--preferences {
            // color: #90CAF9;

            color: #303F9Fde;
            background-color: #303F9F0d;

            &:hover {
                // background-color: #90CAF914;

                color: #303F9Ff2;
                background-color: #303F9F1c;
            }

            &.menu__button--active {
                // background-color: #90CAF929;

                color: #303F9Fff;
                background-color: #303F9F29;
            }
        }

        &--about {
            // color: #B39DDB;

            color: #7B1FA2de;
            background-color: #7B1FA20d;

            &:hover {
                // background-color: #B39DDB14;

                color: #7B1FA2f2;
                background-color: #7B1FA21c;
            }

            &.menu__button--active {
                // background-color: #B39DDB29;

                color: #7B1FA2ff;
                background-color: #7B1FA229;
            }
        }
    }
}
